$font-stack: Helvetica, sans-serif
$background-color: rgb(230,230,230);
$font-color: black
$navbar-color: black
$navbar-font-color: white

body
    padding: 0
    margin: 0
    font: $font-stack
    color: $font-color
    background-color: $background-color

#navbar
    padding: 1em
    margin: 0
    ul 
        list-style: none
        padding: 0
        margin: 0 
        li 
            display: inline
            a
                text-decoration: none
                color: $navbar-font-color
    background-color: $navbar-color