body {
  padding: 0;
  margin: 0;
  font: Helvetica, sans-serif;
  color: black;
  background-color: #e6e6e6;
}

#navbar {
  padding: 1em;
  margin: 0;
  background-color: black;
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */